@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px dashed #ff7500;
  outline-offset: 5px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", Arial;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.orange-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff7500;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.orange-button:hover {
  opacity: 80%;
}
/* header */
.header {
  position: fixed;
  top: 16px;
  width: 100%;
  z-index: 1000;
  background-color: #fff;

}

/* main {
  
} */
.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
}
.header-links {
  display: flex;
  gap: 32px;
}
.header-link {
  color: #000000;
}
.header-link:hover {
  color: #ff7500;
}

/* Hero */
.hero {
  position: relative;
  background-color: #252420;
  color: white;
  margin-top: 90px;
  padding-bottom: 80px;
  padding-top: 100px;
}
.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  max-width: 387px;
  width: 100%;
}
.hero-title {
  margin-bottom: 22px;
  font-family: "Roboto Condensed";
  font-size: 40px;
  line-height: 122%;
  letter-spacing: 0.5px;
}
.hero-text {
  margin-bottom: 32px;
}
.shadow-container {
  position: absolute;
  right: 0;
  top:-20%;
  border-radius:8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}
/* Why */
.why {
  padding-top: 236px;
  padding-bottom: 330px;
}
.title {
  margin-bottom: 72px;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed";
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
  text-align: center;
  margin-bottom: 32px;
}
/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  max-width: 340px;
  width: 100%;
}

.card-title {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed";
}
/* CTA */
.cta {
  position: relative;
  background-color: #252420;
  color: white;
  padding: 64px;
  margin-bottom: 160px;
}
.cta-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-position{
  position: absolute;
  right: 0;
  top:-40%;

}

.cta-content {
  max-width: 440px;
  width: 100%;
}
.cta-title {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed";
}
.cta-text {
  margin-top: 12px;
  margin-bottom: 24px;
}
.orange-text {
  color: #ff7500;
}
/* Footer */
.footer {
  padding-bottom: 56px;
  padding-top: 56px;
  background-color: #f8f8f8;
}
.footer-logo {
  display: flex;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.socials {
  display: flex;
  gap: 16px;
}
.social-link {
  display: flex;
}
.footer-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
.footer-link {
  color: #252420;
}
.footer-link:hover {
  color: #ff7500;
}
